body {
    font-family: Helvetica, serif;
    color: rgb(51, 55, 66);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

#calendar {
    width: 350px;
    padding: 15px;
    background-color: rgb(110, 139, 139);
}
.calendar_header-wrapper {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
}

.calendar_header-month,
.calendar_header-year{
    margin: 5px;
}

.calendar_item {
    min-width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
}

.active {
    background-color: rgb(57, 50, 59);
    color: #fff;
    font-weight: 700;
}

.calendar_week {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}

.calendar_week-day,
.calendar_body-day {
    line-height: 40px;
}

.calendar_body-row {
    display: flex;
    justify-content: space-between;
    font-size:  20px;
    font-weight: 300;
    margin: 15px 0px;
}


.calendar_header {
    position: relative;
}

.calendar_header-prev,
.calendar_header-next {
    position: absolute;
    top: 13px;
    width: 40px;
    text-align: center;
}

.calendar_header-next {
    right: 20px;
}

.calendar_header-prev {
    left: 20px;
}

.calendar_header img {
    width: 20px;
}

.prevarrow {
    transform: scale(-1, 1);

}
